@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Reset */
*, *::before, *::after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HTML */
html
{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 100;
    color: #707070;
    scroll-behavior: smooth;
}